<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>To Do</title>
  </head>
  <body>
    <div class="container">
      <header class="flexContainer">
        <h1 class="title main-font center">Welcome {{name}}</h1> 
        {{!-- not rendering. Maybe I need to use lean()? --}}
      </header>

      <form class="center" action="/todos/addTodo" method="POST">
        <input type="text" placeholder="Add a To Do" name="todoItem" />
        <button type="submit" class="submitButton">
          <i class="fa fa-plus-square"></i>
        </button>
      </form>

      <div class="to-do-list flexContainer">
        <ul class="task-list center">
            {{#if todo}}
              {{#each todo}}
                <li data-id="{{_id}}">
                  {{!-- <a href="/todos/{{_id}}">{{todo}}</a> --}}
                  {{todo}}
                  <span class="fa fa-trash delete-todo"></span>
                </li>
              {{/each}}
            {{/if}}
        </ul>
      </div>

      <h4 class="main-font center">Left to do: {{left}}</h4>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
